<html lang="{{locale.language}}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="js/jquery-3.7.1.min.js"></script>

		<title>{{locale.portfolio}}</title>

		<link rel="stylesheet" href="scss/index.scss" />

		<script defer="true" src="ts/universal.ts"></script>
		<script defer="true" src="ts/index.ts"></script>
	</head>
	<body>
		<header>
			<h1>
				{{locale.portfolio}}
			</h1>
		</header>
		<main>
			<section>
				<h2>{{locale.projects}}</h2>
				{{#each data.projects}}
					<section>
						<h3>{{translate this.name}}</h3>
						<p>{{@root.locale.description}}: {{translate this.description}}</p>
						<p>{{@root.locale.type}}: {{translate this.type}}</p>
						{{#if this.course}}
							<p>{{@root.locale.course}}: {{translate this.course}}</p>
						{{/if}}
						<p>{{@root.locale.technologies}}:</p>
						<ul>
							{{#each this.technologies}}
								<li>{{translate this}}</li>
							{{/each}}
						</ul>
					</section>
				{{/each}}
			</section>
			<section>
				<h2>{{locale.certifications}}</h2>
				{{#each data.certification_categories}}
					<section>
						<h3>{{this.category}}</h3>
						{{#each this.certifications}}
							<section>
								<h4>{{this.name}}</h4>
								<p>{{@root.locale.score}}: {{this.score}} / {{this.max_score}}</p>
								<p>{{@root.locale.date}}: {{this.date}}</p>
							</section>
						{{/each}}
					</section>
				{{/each}}
			</section>
		</main>
		<footer>
		</footer>
	</body>
</html>